#octonauts, form {
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
}

#container {
	width: 1200px;
	margin: 0 auto;
}

form{
	font-size: 25px;
	margin-left: 50px;
}

.btn-group-justified {
	margin-left: 350px;
}
h3 {
	margin-left: 550px;
}
.btn-group-justified, .btn-danger {
	display: inline-block;
	vertical-align: top;
}
#content {
	margin-top: 100px;
}